.detail-container{
 margin:2rem;


  .card{
    max-width: 90%;
    margin:auto;
  }

  .card-title{
    text-align: center;
    padding: 1.3rem;
    text-transform: capitalize;
  }

  img{
    height: 55%
  }

  h4 span{
    font-style: italic;
  }

}
.btn-success{
  background-color: $teal-600;
  border:none
}

.success-message{
  padding: 20px;
  margin: 20px auto;
  border: 2px solid green;
  background-color: $green-200;
  text-align: center;
}