.footer{
  background: #EFEFEF ;
   color: $footer-text;
}

.footer-heading{
  font-weight: 500;
  font-size: 1.6rem;
  margin-top: 1rem;
  margin-bottom: 0.8rem;
}

.footer a{
  text-decoration: none;
  color: $footer-text;
}

.footer h4{
font-weight: 400;
}

.footer i{
  font-size: 2rem;
  padding: 15px;
}

.footer p{
  font-weight:300;
  font-size: 0.9rem;
  margin-bottom: 0;
}