.form-check {
  padding: 20px 0 0px 45px;

  label {
    margin: 10px;
  }
}
.form-check .form-check-input {
  width: 4rem;
}

.form-check-input {
  height: 2rem;
}

.btn-container {
  padding: 3rem 0;
}
