.hero-image img {
  height: auto;
  width: 100%;
}

.heading {
  max-width: 95%;
  margin: auto;
  font-size: 1.6rem;
  text-align: center;
  padding: 30px 0 20px 0;
  box-shadow: 0 8px 6px -6px $text;
}
